body{
	background: url('../img/bg.jpg') #7c7c7c;
}

.above{
	height: 70px;
	width: 100%;
	background: url('../img/abovebg.png') repeat-x;
}

header{
	margin: 0 auto;
	width: 980px;
	text-align: center;
	background: url('../img/logo.png') no-repeat center;
	height: 342px;
}

a.logo{
	margin: 0 auto;
}

.box{
	width: 160px;
	box-shadow: 3px 2px rgba(50,50,0, 0.3);
	margin-top: 70px;

}

#left{
	float: left;
}

#right{
	float: right;
}

.box .boxtop{
	height: 38px;
	padding-top: 2px;
	background: #f1e300;
	font-size: 24px;
	font-weight: 900;
	color: #000000;
}
.box .boxbottom{
	/*height: 36px;*/
	padding-top: 6px;
	padding-bottom: 6px;
	background: #FFF;
	font-family: "arial black";
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.box .boxbottom a:link{
	text-decoration: none;
	color: #6fafff;
}
.box .boxbottom a:visited{
	text-decoration: none;
	color: #6fafff;
}
.box .boxbottom a:hover{
	text-decoration: none;
	color: #06e;

}

/* Main starts here */
.content{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.contentbox-bar{
	/*height: 35px;*/
	width: 1000px;
	margin-left: -10px;
	background: #fff;
	text-align: center;
}

.contentbox-bar h1{
	margin: 0 auto;
	padding: 0;
}

.contentbox{
	background: url('../img/darkbg.jpg');
	padding: 15px;
	margin-bottom: 35px;
}

#signbox{
	width: 357px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px;
}

.input-description{
	color: #FFF;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: right;
	text-shadow: 1px 1px 0 #333;
}

.inputbox{
	margin-left: 20px;
	height: 20px;
	padding: 4px;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	background: #DDD;
	box-shadow: 0px -2px 0px #333;
	border: none;
	cursor: text;
	border-radius: 7px;
	width: 200px;
}

.submit{
	margin-top: 40px;
	height: 35px;
	width: 120px;
	padding: 4px;
	font-size: 20px;
	font-weight: 900;
	line-height: 20px;
	color: #000;
	background: #FFF;
	border: none;
	border-radius: 4px;
}

.submit:hover{
	background: #f1e300;
}

.signed{
	color: #FFF;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom:20px;
	text-align: center;
	text-shadow: 1px 1px 0 #333;
}

.sharebuttons{
	height: 50px;
}

#fb{
	float: left;
	margin-left: 100px;
	background: #133783;
}

#twitter{
	float: right;
	margin-right: 100px;
	background: #4099FF;
}

a.sharebutton:link{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	border-radius: 12px;
	width: 200px;
	text-align: center;
}
a.sharebutton:visited{
	color: #fff;
}
a.sharebutton:hover{
	color: #fff;
	text-shadow: 2px 2px 0 #111;
	box-shadow: 2px 2px 2px #111;

}

/* Footer starts here */
footer{
	margin: 0 auto;
	text-align: center;
}

